html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#inputGroupFile01:hover {
  cursor: pointer;
}

#inputGroupFile02:hover {
  cursor: pointer;
}

#inputGroupFile03:hover {
  cursor: pointer;
}