@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

div {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.outer {
    font-size: 24pt;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 56px;
}

html {
    background: url(background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1280px;
}

.inner {
    display: flex;
    align-items: flex-start;
    font-size: 64pt;
    margin-left: 80px;
    align-self: flex-start;
}

.slogan {
    font-size: 16pt;
    margin-left: 24px;
    align-self: flex-end;
    margin-bottom: 14px;
}

p {
    line-height: 32px;
}