.app {
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 200px;
}

p {
  margin-bottom: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  margin: auto;
  border: 1px solid black;
  font-size: 24px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}